* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
    padding-bottom: 30px;
}

p {
    padding: 20px 0;
}

.name {
    color: orange;
}

.hire {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.first-btn {
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    background-image: linear-gradient(orange, tomato);
}

.fist-sec {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.left {
    margin: 70px 0 0 90px;
    width: 50%;
    height: 80vh;
}

.right {
    width: 50%;
    height: 80vh;
}

.right img {
    width: 85%;
}

.second-sec {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.lorem {
    padding-right: 100px;
}

.third-sec {
    display: flex;
    width: 100%;
    height: 70vh;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.expe-name {
    padding-left: 70px;
}

.left-side {
    margin: 0 0 80px 80px;
    padding: 40px;
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.right-side {
    margin: 0 80px 80px 80px;
    padding: 40px;
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

.left-side h3,
.right-side h3 {
    color: orange;
}

.titale {
    font-size: 40px;
    font-weight: 550;
}

.left-side,
.right-side {
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

.expe-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
    margin-bottom: 0;
    /* padding-bottom: 0; */
}